.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: clamp(400px, 40%, 900px);
    margin: 0 auto;
}

.inputs * {
    margin: 5px 0;
}

.hubs {
    width: 100%;
}

.hubs input {
    width: calc(100% - 5px);
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}